useDynLib(rhlra)

import(svd)
import(Matrix)

export(default_L)
export(hlra_mgn_default_chol)
export(hlra_cadzow)
export(hlra_mgn)
export(hlra_sylvester)
export(hlra)
export(hlra_ar)
export(hlra_tune)
export(plot.hlra_tune)
export(inv_ac_diags)

export(band_mat_from_diags)
export(get_matrix_weight_matrix)
export(get_glrr_from_nonlrf_series.1d)
export(get_space_by_glrr)
export(ssa_convolve)
export(trmat_indices)
