useDynLib(rhlra)

import(svd)
import(Matrix)
import(snow)

export(default_L)
export(hlra_mgn_default_chol)
export(hlra_cadzow)
export(hlra_mgn)
export(hlra)
export(hlra_ar)
export(tune_hlra)
export(plot.hlra_tune)
export(inv_ac_diags)
